uvloop==0.22.1
fastapi
uvicorn[standard]
pydantic-settings
SQLAlchemy>=2
psycopg[binary]
python-jose[cryptography]
passlib[argon2]==1.7.4
python-multipart
email-validator
alembic
argon2-cffi
gunicorn